{% extends 'base.html' %} {% block title %} Sign up {% endblock %} {% block body
%}
<main>
  

  <div class="form-container">
    <h2 class="sign-up-h2">Join Nutrigroup</h2>
    <form method="POST">

      {{ form.hidden_tag() }} 
      
      {% for field in form if field.widget.input_type !='hidden' %} 
      
      {% for error in field.errors %}
      <span>{{ error }}</span>
      {% endfor %} 


      {{ field(placeholder=field.label.text, class="")}} 

      {% endfor %}

      <button class="sign-up-button">Sign me up!</button>
    </form>
  </div>
</main>

{% endblock %}
